/*-- scss:defaults --*/
$primary: #6631D7;
$secondary: #0CA789;

$code-color: $secondary;
$toc-active-border	: $secondary;

/*-- scss:rules --*/

#quarto-sidebar {
  background-color: #ceebe5;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: $secondary;
}

#title-block-header h1.title {
  font-family: "Bangers", system-ui;
  font-size: 3rem;
  font-weight: 400;
  color: $secondary;
}
#title-block-header h1 .chapter-number {
  color: #888;
  font-size: 4rem;
}

footer.footer{
  display: none;
}

.sidebar-section {
  padding-left: 0px;
}

.sidebar-item .chapter-number {
  color: #888;
  font-size: 100%;
  font-family: 'Bangers';
}
#quarto-sidebar {
  max-width: 100vw;
}

.sidebar-title::before {
  content: "△";
  font-size: 1.5em;
}

.callout-idea.callout-style-default > div.callout-header {
  background-color: lighten(desaturate($primary, 20%), 15%);
  color: white;
}

div.callout.callout-idea {
  border-left-color: $primary;
}


.callout-problem.callout-style-default > div.callout-header {
  background-color: lighten(desaturate($secondary, 50%), 20%);
  color: white;
}

div.callout.callout-problem {
  border-left-color: $secondary;
}


/* fix broken margin figures in tippy preview */
.tippy-content .column-margin {
  visibility: hidden;
}
