
@media screen {
  .spoiler {
    filter: blur(3px);
  }

  .spoiler:hover, .spoiler:focus-within {
    filter: inherit;
  }
}

.problem {
  border: 1px solid gray;
  padding: .5em;
  margin: 1em;
}

.katex { font-size: 1.1em; }