
@media screen {
  .spoiler {
    filter: blur(3px);
  }

  .spoiler:hover, .spoiler:focus-within {
    filter: inherit;
  }
}

.problem {
  border: 1px solid gray;
  padding: .5em;
  margin: 1em;
}

.katex { font-size: 1.1em; }

.img-fluid {
  zoom: 150%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#quarto-content .quarto-sidebar-toggle {
  background: hsl(278, 65%, 97%);
}

.column-body-outset {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
}

.glightbox-container img{
  min-width: calc(80vw - 100px);
}

.desc-bottom .gslide-media {
  background-color: var(--quarto-body-bg);
}

.sidebar-title>a, .sidebar-item-text.text-start {
  font-family: "Bangers", system-ui;
}

.sidebar-title {
  transform: rotate(-4deg);
  transition: all 0.25s ease-out;
}
.sidebar-title:hover {
  transform: rotate(-6deg) scale(1.1);
}

#TOC {
  transition: all 0.15s ease-out;
}

/* fonts */

@font-face {
  font-family: 'Bangers';
  src: url('../lib/bangers-font/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine O';
  font-style: normal;
  font-weight: normal;
  src: local('Linux Libertine O Regular'), url('../lib/linux-libertine-font/LinLibertine_R.woff') format('woff');
}
  
@font-face {
  font-family: 'Linux Libertine O';
  font-style: italic;
  font-weight: normal;
  src: local('Linux Libertine O'), url('../lib/linux-libertine-font/LinLibertine_RI.woff') format('woff');
}

@font-face {
  font-family: 'Linux Libertine O';
  font-style: normal;
  font-weight: bold;
  src: local('Linux Libertine O Bold'), url('../lib/linux-libertine-font/LinLibertine_RB.woff') format('woff');
}
  
@font-face {
  font-family: 'Linux Libertine O';
  font-style: italic;
  font-weight: bold;
  src: local('Linux Libertine O Bold Italic'), url('../lib/linux-libertine-font/LinLibertine_RBI.woff') format('woff');
}
