
@media screen {
  .spoiler {
    filter: blur(3px);
  }

  .spoiler:hover, .spoiler:focus-within {
    filter: inherit;
  }
}

.problem {
  border: 1px solid gray;
  padding: .5em;
  margin: 1em;
}

.katex { font-size: 1.1em; }

.img-fluid {
  zoom: 150%;
}

.glightbox-container img{
  min-width: calc(80vw - 100px);
}

.sidebar-title>a, .sidebar-item-text.text-start {
  font-family: "Bangers", system-ui;
}